[submodule "redux-demo"]
	path = redux-demo
	url = https://github.com/cwesterduin/redux-demo.git
[submodule "redux-todo-api"]
	path = redux-todo-api
	url = https://github.com/cwesterduin/redux-todo-api.git
[submodule "todo-backend"]
	path = todo-backend
	url = https://github.com/cwesterduin/todo-backend.git
